body{
    margin:0;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
.title {
    padding-top: 3%;
    display:flex;
    justify-content: center;
}
/* ==========
Layout
 ============ */
.app {
    padding-top: 4%;
    display:flex;
    justify-content: center;
    width:100vw;
    gap:2%;
}
.tools {
    display:flex;
    margin-left:-8vw;
    flex-direction: column;
    gap:4%;
}
.btn {
    font-size: 100%;
    height: 5vh;
    border-radius: 4px;
    transition-duration: 0.2s;
}
.btn:hover {
    transform: scale(1.08);
}
.selected {
    background-color: rgb(65, 65, 65);
    color: white;
}
.container {
    display:flex;
    background-color: white;
    flex-direction: column;
    width:450px;
    height:450px;
    border: 1px solid black;
}
.rowContainer {
    flex:1;
    display:flex;
}
.cells {
    flex:1;
}

.cells:hover {
    background-color: black;
    opacity: 0.1;
}

.showGridSize {
    text-align: center;
    font-size: 4rem;
}

/* ==========
Media queries
 ============ */
 @media(max-width:680px) {
    .app {
        padding-top: 4%;
        display:flex;
        flex-direction: column-reverse;
        width:100vw;
        gap:2%;
    }
    .tools {
        margin: 0 auto;
    }
    .btn {
        width: 10em;
        margin-bottom: 1.5em;
        height:2.5em;
        padding: .5em 0;
    }
 }