body{
    margin:0;
}
.container {
    
    width:100%;
    height:100%;
    border: 1px solid orange;
}
.rowContainer {
    margin-left:auto;
    margin-right:auto;
    display:flex;
    width:fit-content;
    height:fit-content;
    border:1px solid orange;
}
.cells {
    width:2em;
    height:2em;
    border: 1px solid black;
}
.cells:hover {
    background-color: orange;
}